*{
    margin: 0;
    padding: 0;
   
}
/* navbar-div */
.navbar-div{
    background-color: #000000 !important;
    height: 5rem !important;
   border-bottom: 2px solid #EFEEEA !important;
}

.nav-link{
    color:#EAD8B1 !important;
}

.navbar-brand{
    font-size: 2rem !important;
    color:#DFD0B8 !important;
}

.nav-link:hover{
    background-color: #AB886D !important;
    color: aliceblue !important;
}

/* image */

.img-div{
  height: 15rem !important;
  width: 15rem !important;
   text-align: center !important;
   margin-bottom: 6rem !important;
}
.img{
  height: 100% !important;
  width:  100% !important;
  object-fit: cover !important;
  border-radius: 100px !important;
  border: 5px solid white !important;
}
body{
    background-color: #000000 !important;
    overflow-x: hidden !important;
}



/* body home page */
.about-container{
    box-shadow: 6px 6px 10px #273F4F;
    height: 15rem !important;
    width: 40rem !important;
    padding: 10px !important;
    margin-right: 4rem !important;
    background-color: #DFD0B8 !important;
}
.body-div{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    width: 100% !important;
    height: 25rem !important;
    margin-top: 0.5rem !important;
    background-color: #EFEEEA !important;
}

.animation-container{
  margin-top: 1rem !important;
  width: 15rem !important;
  height: 2.3rem !important;
  box-shadow: 3px 3px 6px #273F4F;
}

.animation-container .animation-heading{
    font-size: 1.6rem !important;
    color: #110904;
}

/* skill page */

.quote{
    border-radius: 5% !important;
    height: 7rem !important;
    width: 50rem !important;
   margin: 1rem auto 1rem auto;
  background-color: #EFEEEA !important;
  padding: 3px !important;
}

.skill-quote{
   text-align: center !important; 
}

.skill-quoteby{
    text-align: end !important;
    margin-right: 0.2rem !important;
}

.skill-box{
    display: flex !important;
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
    margin-bottom: 1rem !important;
    background-color: #EFEEEA !important;
}

.skill-card{
    height: 10rem !important;
    width: 15rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
    text-align: center !important;
    background-color: #DFD0B8 !important;
    box-shadow: 5px 5px 8px #1c1a18 !important;
}

.skill-card:hover{
   box-shadow: 10px 15px 20px #000000 !important;

}

.skill-card i{
    font-size: 4rem !important;
    margin-top: 1rem !important;
}


.skill-img{
    height: 5rem !important;
    width: 5rem !important;
    margin: auto !important;
    margin-top: 1rem !important;
}
.skill-img img{
    object-fit: cover;
    height:  100% !important;
    width:  100% !important;
  
}

.skill-card h5{
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    text-decoration: underline !important;
}

/* education page */
.college-img-div{
    height: 24rem !important;
    width: 50rem !important;
 margin: 1.5rem auto 1rem auto !important;
 text-align: center !important;
}
.college-img-div h4{
    color: #EFEEEA !important;

}
.college_image{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 20px !important;
}

.college-div{
    background-color: #DFD0B8;
    height: 8rem;
    width: 35rem;
    text-align: center;
   margin: 4rem auto 1rem auto !important;
   padding: 7px !important;
}


 .college-div:hover{
        box-shadow: 10px 10px 15px #1c1a18;
    }
/* certifiacte-div */
.certificate-div{
    height: 30rem;
    width: 40rem;
    margin: 1rem auto 1rem auto;
    box-shadow: 4px 4px 8px #493628;
}
.certificate-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* project page */
.project{
    height: 70rem;
    width: 50rem;
    background-color: #EFEEEA;
    box-shadow: 8px 8px 10px #493628;
    margin: 1rem auto 1rem auto ;
    line-height: 2rem;
}
.project a{
    text-decoration: none;
  color: #493628;
}
.project li{
    background-color: #DFD0B8;
}

/* media query */
@media(max-width:400px){
    
    .nav-link{
      margin-left: 1rem !important;
      width: 10rem !important;
    }
    .navbar-nav{
        border: 2px solid #EFEEEA;
        position: sticky !important;
        z-index: 1;
        background-color:#000000!important;
    }
    .navbar-toggler-icon{
       filter: invert(100%) !important;
    }
    .quote{
        border:  2px solid  #493628 !important;
        border-radius: 5% !important;
        height: 10rem !important;
        width: 20rem !important;
      margin: 1rem auto 1rem auto;
       box-shadow: 3px 3px 5px #493628 !important;
      padding: 0.5rem;
    }
    .skill-quoteby{
        text-align: center !important;
        margin-top: 1rem ;
    }
    .college-div{
        background-color: bisque;
        height: 14rem;
        width: 40rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 6px 6px 8px #1c1a18;
    }
    .college-icon {
        display: none !important;
    }

    .body-div{
    width: 100% !important;
    height: 40rem !important;
    margin-top: 0.5rem !important;
    background-color: #EFEEEA !important;
    display: inline-block !important;
    /* text-align: center !important; */
}
    .about-container{
    box-shadow: 6px 6px 10px #273F4F;
    height: 25rem !important;
    width: 19.2rem !important;
    padding: 10px !important;
   margin:14rem auto !important;
    background-color: #DFD0B8 !important;
    position:  absolute !important;
}
.about-container p{
    text-align: start !important;
}
.img-div{
  height: 10rem !important;
  width: 10rem !important;
   text-align: center !important;
   position:absolute;
  margin-top: 0.5rem !important;
 margin-left: 4.5rem !important;
}
.img{
  height: 100% !important;
  width:  100% !important;
  object-fit: cover !important;
  border-radius: 100px !important;
  border: 5px solid white !important;
}
.animation-container{
  margin-top: 0.5rem !important;
  width: 10rem !important;
  height: 2rem !important;
  box-shadow: 3px 3px 6px #273F4F;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.animation-container .animation-heading{
    font-size: 1rem !important;
    color: #110904;
}
.college-img-div{
    height: 10rem !important;
    width: 17rem !important;
 margin: 1.5rem auto 1rem auto !important;
 text-align: center !important;
}
.college-img-div h4{
    color: #EFEEEA !important;

}
.college_image{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 20px !important;
}
.college-name{
    font-size: 1rem !important;
    margin-top: 0.5rem !important;
}
.college-div{
    background-color: #EFEEEA;
    height: 10rem !important;
    width: 20rem;
    text-align: center;
   margin-top: 4rem !important;
   margin-bottom: 3rem !important;
   padding: 7px !important;
   line-height: 0.7rem !important;
}
.footer{
    height: 0.5rem !important;
    margin: 1rem !important;
    background-color: #273F4F !important;
    border-radius: 15px !important;
    position: sticky !important;
}
.certificate-div{
    height: 15rem;
    width: 20rem;
    margin: 1rem auto 1rem auto;
    box-shadow: 4px 4px 8px #493628;
}
.certificate-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
   .project{
        height: 120rem;
        width: 22rem;
        background-color: #EFEEEA;
        box-shadow: 8px 8px 10px #493628;
        margin: 1rem auto 1rem auto ;
        line-height: 2rem;
        padding: 8px !important;
    }
}