<% layout("/layouts/boilerplate") %>
<body style="text-align: center;">
  <h2 style="color: white;margin-top: 1rem ;">Full Stack Web Development Certificate</h2>
  <div class="certificate-div">
   <img src="/image/certificate_web-development.jpg"class="certificate-img" alt="">
  </div>
</body>