<% layout("/layouts/boilerplate") %>
<body>
 <div class="college">
    <div class="college-div">
        <h2  style="text-decoration: underline;">College</h2>
         <div>
             <h4>Bechelor Of Technology In Computer Science</h4>
             <p>2022 - 2026</p>
             <h4 style="text-decoration: underline;">From:</h4>
             <span  style="line-height: 0.5rem;">
                 <p>Astral Institute Of Technology, Indore(M.P.)</p>
                <p>CGPA --  7+</p>
             </span>
         </div>
     </div>
     <div class="college-icon">
         <i class="fa-solid fa-graduation-cap"></i>
     </div>
 </div>
  
    <br>
  <div class="school">
    <div class="school-div">
        <h2 style="text-decoration: underline;">School</h2>
         <div>
             <h4>12 th (PCM)</h4>
             <p>2018 - 2019</p>
             <h4 style="text-decoration: underline;">From:</h4>
             <span style="line-height: 0.5rem;">
                <p>Indira Vidya Mandir H.S.School, Indore(M.P.)</p>
                <p>Percentage --  89%</p>
             </span>
         </div>
     </div>
     <div class="school-icon">
        <i class="fa-solid fa-school"></i>
     </div>
  </div>
   
</body>