<% layout("/layouts/boilerplate") %>
<body>
    <div class="college-img-div">
        <img src="/image/astral_college.jpg"class="college_image"   alt="college">
        <h4 class="college-name">Astral Institute Of Technology, Indore(M.P.)</h4>
    </div>
    <div class="college-div">
             <h4>Bechelor Of Technology In Computer Science</h4>
             <p>2022 - 2026</p>
             <p>CGPA --  7+</p>
     </div>
  
 
   
</body>