<% layout("/layouts/boilerplate") %>
<body>
<div class="container  body-div">
    <div class="about-container">
       <p style="font-weight: 700;font-size: large;">Namaste !</p>
       <p style="font-weight: 500;">Myself Yash Choudhary ,a computer science (B.tech) engineering student.
          I am practicing web develpoment skills with technologies like Frontend (html,css,javascript),
          and frameworks of frontend like Bootstrap Css , Tailwind Css and ReactJS.
          With Backend technologies like Nodejs , ExpressJs , Databases (MySql , MongoDB).
          I have done several projects which have included all this technologies and with 
          API fetching , User authentication and Authorization etc.
       </p>
    </div>
    <div class=" img-div">
        <img src="/image/yash_image1.jpg" class="img" alt="...">
        <div class="animation-container">
               <h4 class="animation-heading"></h4>
        </div>
    
    </div>

</div>
     
















    
</body>
