<% layout("/layouts/boilerplate") %>
<body>
<div class="container  body-div">
    <div class="animation-container">
        <p>Hy! everyone,</p>
        <p>Myself YASH CHOUDHARY,</p>
        <br>
        <h4 class="animation-heading"></h4>
    </div>
    <div class="img-container">
    <div class="card card-div offset-5" style="width: 18rem; border: none; background-color: #AB886D;">
        <!-- <img src="/image/yash_image.jpg" class=" img-div" alt="..."> -->
    </div>
    </div>

</div>
     
















    
</body>
