<% layout("/layouts/boilerplate") %>
<body>
    <div class="project">
        <span style="text-align: center;"><h2>- Projects -</h2></span>
        <div>
            <ul>
                <li><span style="font-weight: 500;">WanderLust-</span>
                    <ul>
                        <li>An e-commerce website which helps to find all beautiful places to stay all around world.</li>
                        <li>This website is built  with using latest technology like Nodejs , Expressjs , using database 
                            like MongoDB,Restful APIs , and Authentiaction and Authorization.
                        </li>
                        <li><b>GItHUB LINK-- <i><a href="https://github.com/YashChoudhary09/WanderLust">WanderLust </a></i> </b></li>
                    </ul>
                </li>
                <li><span style="font-weight: 500;">Simon Say Game-</span>
                    <ul>
                        <li>A mind-exercing game which want more focus on present to follow the sequence.</li>
                        <li>The game is made by pure JavaScript and Css. </li>
                        <li><b>GItHUB LINK --  <i><a href="https://github.com/YashChoudhary09/Simon-Say-Game">Simon-Say-Game</a></i> </b></li>
                    </ul>
                </li>
                <li><span style="font-weight: 500;">Amozon Clone-</span>
                    <ul>
                        <li>A home page clone which seems realastic to original one.</li>
                        <li>This also built from HTML and CSS. </li>
                        <li><b>GItHUB LINK --  <i><a href="https://github.com/YashChoudhary09/Amazon-Home-Page-Clone">Amazon-Home-Page-Clone </a></i></b></li>
                    </ul>
                </li>
                <li><span style="font-weight: 500;">Spotify Music Player Clone-</span>
                    <ul>
                        <li>A music player clone which seems realastic to original one.</li>
                        <li>This also built from HTML and CSS. </li>
                        <li><b>GItHUB LINK --  <i><a href="https://github.com/YashChoudhary09/Spotify-Web-Player-Music-Clone">Spotify-Web-Player-Music-Clone </a></i></b></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>