<% layout("/layouts/boilerplate") %>
<body>

        <div class="quote">
            <div class="skill-quote">
                <h3>“Anyone who has never made a mistake has never tried anything new.”</h3>
            </div>
            <div class="skill-quoteby">
                <h4> – Albert Einstein</h4>
            </div>
        </div>
<div class="container">
       
     <div class="skill-box">
            <div class="card skill-card" style="width: 18rem;">
                <i class="fa-brands fa-js"></i>
                <div class="card-body">
                  <h5 class="card-title">Java Script</h5>
                </div>
              </div>
              <div class="card skill-card" style="width: 18rem;">
                <i class="fa-brands fa-css"></i>
                <div class="card-body">
                  <h5 class="card-title">Css</h5>
                </div>
              </div>
              <div class="card skill-card" style="width: 18rem;">
                <i class="fa-solid fa-code"></i>
                <div class="card-body">
                  <h5 class="card-title">Html</h5>
                </div>
              </div>
              <div class="card skill-card" style="width: 18rem;">
                <i class="fa-brands fa-java"></i>
                <div class="card-body">
                  <h5 class="card-title">Java</h5>
                </div>
              </div>
              <div class="card skill-card" style="width: 18rem;">
                <i class="fa-solid fa-database"></i>
                <div class="card-body">
                  <h5 class="card-title">My Sql</h5>
                </div>
              </div>
              <div class="card skill-card" style="width: 18rem;">
                <i class="fa-brands fa-node-js"></i>
                <div class="card-body">
                  <h5 class="card-title">Nodejs</h5>
                </div>
              </div>
              <div class="card skill-card" style="width: 18rem;">
                <div class="skill-img">
                    <img src="/image/icons8-express-js-50.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Expressjs</h5>
                </div>
              </div>
              <div class="card skill-card" >
                <i class="fa-brands fa-react"></i>
                <div class="card-body">
                  <h5 class="card-title">Reactjs</h5>
                </div>
              </div>
              <div class="card skill-card" >
                <div class="skill-img">
                <img src="/image/icons8-mongo-db-64.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">MongoDB</h5>
                </div>
            
              </div>
    </div>

    
</body>
